<section class="section">

    <div class="container">

        <div class="columns">

            <div class="column">

                <div class="card">
                    <div class="card-content has-text-centered">
                        <p class="subtitle">
                            <strong>Scott Tolinski</strong> has spent
                        </p>
                        <p class="title" style="margin: 30px 0;">
                            {{ days }} <span class="foxlite-font" style="font-weight: 500;">Days</span>
                        </p>
                        <p class="subtitle" style="margin-top: 1.5rem;">
                            trying to pronounce <strong>"specificity".</strong>
                        </p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="card-content has-text-centered">
                        <p class="subtitle">
                            <strong>Wes</strong> and <strong>Scott</strong> have spent
                        </p>
                        <p class="title" style="margin: 30px 0;">
                            {{ hours }} <span class="foxlite-font" style="font-weight: 500;">Hrs</span>
                        </p>
                        <p class="subtitle" style="margin-top: 1.5rem;">
                            dropping some <strong>SICK PICKS</strong>!
                        </p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="card-content has-text-centered">
                        <p class="subtitle">
                            <strong>Syntax</strong> has spent
                        </p>
                        <p class="title" style="margin: 30px 0;">
                            {{ minutes }} <span class="foxlite-font" style="font-weight: 500;">Mins</span>
                        </p>
                        <p class="subtitle" style="margin-top: 1.5rem;">
                            delivering <strong>TASTY</strong> content!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="has-text-centered" style="margin: 30px 0;">
            <h1 style="font-size: 2rem; font-weight: 400;">Here's a <span class="foxlite-font" style="font-size: 2.5rem; letter-spacing: 3px;">hasty</span>
                breakdown!</h1>
        </div>
        <div class="columns">

            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">
                            Breakdown
                        </p>
                        <pre>{{ breakdown }} 
                        </pre>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">
                            Breakdown of Averages
                        </p>
                        <pre>{{ averageBreakdown }}
                        </pre>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>